trunk/riverock-portlet/src/main/xsd/riverock-server-monitor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="Directory">
		<xs:sequence>
			<xs:element name="SubDirectory" type="Directory" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="size" type="xs:long" use="required"/>
		<xs:attribute name="sizeSubDirectory" type="xs:long" use="required"/>
	</xs:complexType>
</xs:schema>
